/* Full-screen background */
.forgot-password-container {
    background-image: url('/public/assets/Background-login.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .forgot-password-card {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 350px;
  }
  
  .forgot-password-title {
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    position: relative;
  }
  
  .input-icon {
    position: relative;
  }
  
  .input-icon input {
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 1rem;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .input-icon .icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #8B8B8B;
  }
  
  .forgot-password-actions {
    text-align: center;
  }
  
  .forgot-password-btn {
    width: 100%;
    background-color: #ffffff;
    border: none;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: none; /* Loại bỏ hiệu ứng chuyển đổi */
  }
  
  .forgot-password-btn:active {
    background-color: #ddd; /* Màu nền khi button được click */
    transform: none; /* Loại bỏ hiệu ứng biến đổi */
  }
  
  .forgot-password-btn:hover {
    background-color: #ddd;
  }
  
  .login-link {
    text-align: center;
    margin-top: 15px;
    color: white;
  }
  
  .login-link a {
    color: #fff;
    text-decoration: none;
  }