/* Full-screen background */
.register-container {
  background-image: url('/public/assets/Background-login.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 350px;
}

.register-title {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  position: relative;
}

.input-icon {
  position: relative;
}

.input-icon input {
  width: 100%;
  padding-left: 2.5rem;
  padding-right: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
}

.input-icon .icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #b8b8b8;
}

.register-btn {
  width: 100%;
  background-color: #ffffff;
  border: none;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
<<<<<<< HEAD
  margin-bottom: 10px; /* Thêm khoảng cách giữa hai nút */
=======
>>>>>>> c1a94d2 (quản lí công tác)
}

.register-btn:hover {
  background-color: #ddd;
}
<<<<<<< HEAD

.back-btn {
  width: 100%;
  background-color: #ffffff; /* Màu đỏ */
  border: none;
  color: 333;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #DDDDDD; /* Màu đỏ đậm hơn khi hover */
}
=======
>>>>>>> c1a94d2 (quản lí công tác)
